/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Variables CSS */
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --font-bold: 700;

  /* Colors */
  --first-color: #79b259;
  --first-color-alt: #77a45d;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #e4e4e4;

  /* Fonts */
  --body-font: "Quicksand", sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  /* Z-Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --big-font-size: 6rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
  }
}

/* Reset styles */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* CSS Class */

.section {
  padding: 3rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0 var(--mb-1);
  text-align: center;
}

.section-all {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  color: var(--dark-color-light);
  text-align: center;
  margin-bottom: var(--mb-2);
}

/* Layout */

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--gray-color);
}

/* Navigation */

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-color);
    transition: 0.5s;
  }
}

.nav-item {
  margin-bottom: var(--mb-4);
}

.nav-link {
  color: var(--dark-color);
  font-weight: var(--font-semi);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-logo {
  font-weight: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  width: 100%;
  height: auto;
  max-width: 40px;
}

#nav-cart {
  font-size: 1.5rem;
  margin-right: var(--mb-2);
}

#nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show Menu */

.show {
  right: 0;
}

.active {
  color: var(--first-color);
}

/* Home */

.home {
  background-color: var(--gray-color);
}

.home-container {
  height: calc(100vh - var(--header-height));
}

.home-data {
  padding-top: 6rem;
}

.home-title {
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}

.home-title span {
  font-size: var(--h1-font-size);
}

.home-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.5));
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  transition: 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/* Collection */

.collection-container {
  row-gap: 2rem;
}

.collection-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  background-color: var(--gray-color);
  transition: 0.4s;
}

.collection-box:hover {
  transform: translateY(-0.5rem);
}

.collection-img {
  width: 100px;
}

.collection-title {
  font-size: var(--h1-font-size);
  line-height: 1.2;
  margin-bottom: var(--mb-2);
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.collection-subtitle {
  font-size: var(--h2-font-size);
  color: var(--dark-color-light);
}

.collection-view {
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.collection-view:hover {
  text-decoration: underline;
}

/* Featured Products */

.featured-container {
  row-gap: 2rem;
}

.featured-product {
  transition: 0.4s;
}

.featured-product:hover {
  transform: translateY(-0.5rem);
}

.featured-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
  cursor: pointer;
}

.featured-new {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.3rem 0.75rem;
  font-size: var(--small-font-size);
}

.featured-data {
  text-align: center;
}

.featured-name {
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}

.featured-price {
  color: var(--dark-color-light);
  font-weight: var(--font-semi);
}

/* Offer */

.offer-bg {
  background: url("/assets/img/sale.jpg") no-repeat center/cover;
  text-align: center;
}

.offer-data {
  padding: 3.5rem 0.25rem;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
}

.offer-title {
  font-size: var(--h1-font-size);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: var(--font-semi);
}

.offer-desc {
  margin-bottom: var(--mb-2);
  letter-spacing: 0.2rem;
}

/* New Arrivals */

.new-container {
  row-gap: 2rem;
}

.new-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
  overflow: hidden;
}

.new-link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(122, 178, 89, 0.314);
  transition: 0.5s;
}

.new-box:hover .new-link {
  bottom: 0;
}

/* NewsLetter */

.newsletter {
  text-align: center;
}

.newsletter-desc {
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.newsletter-input {
  outline: none;
  border: none;
  background-color: var(--gray-color);
  padding: 0rem 0.7rem;
  border: 1px solid var(--first-color);
}

.newsletter-input::placeholder {
  color: var(--dark-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
}

/* Sponsors */

.sponsors-container {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  padding: 1.5rem 0;
}

.sponsors-logo {
  display: flex;
  justify-content: center;
}

.sponsors-logo .sponsor-img {
  width: 100px;
  filter: opacity(70%);
  transition: 0.4s;
}

.sponsors-logo:hover .sponsor-img {
  filter: opacity(100%);
  transform: scale(1.1);
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.footer-container {
  row-gap: 1.5rem;
  margin-bottom: var(--mb-4);
}

.footer-title {
  margin-bottom: var(--mb-1);
}

.footer-app {
  margin-bottom: var(--mb-2);
}

.footer-store {
  width: 100px;
}

.footer-link,
.footer-social {
  color: var(--dark-color-light);
  transition: 0.4s;
}

.footer-link:hover {
  color: var(--first-color);
  cursor: pointer;
  text-decoration: underline;
}

.footer-social {
  font-size: 1.3rem;
  margin-right: var(--mb-1);
  transition: 0.4s;
}

.footer-social:hover {
  color: var(--first-color);
  cursor: pointer;
}

.copyright {
  border-top: 1px solid var(--dark-color-light);
  padding-top: 3rem;
  text-align: center;
  color: var(--dark-color-light);
  font-style: var(--small-font-size);
}

/* Scroll Up Button */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  padding: 0.5rem;
  display: flex;
  opacity: 0.9;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/* Responsive:- Media Queries */

@media screen and (min-width: 768px) {
  /* Styling for screen size larger than 768px */

  body {
    margin: 0;
  }

  .section-all {
    margin-bottom: var(--mb-4);
  }

  /* Header */
  .nav {
    height: calc(var(--header-height) + 1rem);
    justify-content: initial;
  }

  .nav-menu {
    margin-left: auto;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }

  #nav-toggle {
    display: none;
  }

  /* Home */

  .home-container {
    height: 100vh;
  }

  .home-data {
    padding: 0;
    height: max-content;
    align-self: center;
  }

  .home-title {
    line-height: 0.8;
    letter-spacing: 1.2rem;
  }

  .home-img {
    width: 450px;
  }

  /* Collection */

  .collection-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .collection-box {
    padding: 0.5rem 3rem 0;
  }

  .collection-img {
    width: 150px;
  }

  /* Featured Products */

  .featured-container,
  .sponsors-container,
  .footer-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .sponsors-logo .sponsor-img {
    width: 120px;
  }

  /* Offer */

  .offer-data {
    padding: 5rem 0;
  }

  /* New Arrivals */

  .new-container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Newsletter */

  .newsletter-form {
    width: 400px;
    margin: 0 auto;
  }

  /* Footer */

  .footer-container {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 1024px) {
  /* Styling for screen size larger than 1024px */

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  /* Home */

  .home-data {
    padding-left: 7rem;
  }

  .home-img {
    right: 15%;
    width: 500px;
  }
}
